    section {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    table {
        border-collapse: collapse;
        width: 90%;
        color: #200000;
    }
    
    td, th {
        border: 2px solid #20000042;
        text-align: center;
        padding: 7px;
    }
    
    tr:nth-child(even) {
        background-color: white;
    }  